<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Fitnessapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.FitnessApp"
        tools:targetApi="31">

        <activity android:name="kr.co.softcampus.fitnessapp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="kr.co.softcampus.fitnessapp.RegisterActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.MainActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.RoutineListActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.CreateRoutineActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.RoutineDetailActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.ExerciseDetailActivity" />
        <activity android:name="kr.co.softcampus.fitnessapp.SelectExerciseActivity" />

    </application>
</manifest>
